<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="jdbcUrl" value="${spring.datasource.jdbc-url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
        <property name="maximumPoolSize" value="${spring.datasource.hikari.maximum-pool-size}"/>
        <property name="connectionTimeout" value="${spring.datasource.hikari.connection-timeout}"/>
        <property name="idleTimeout" value="${spring.datasource.hikari.idle-timeout}"/>
        <property name="maxLifetime" value="${spring.datasource.hikari.max-lifetime}"/>
        <property name="poolName" value="${spring.datasource.hikari.pool-name}"/>
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:db/changelog/db.changelog-master.xml"/>
        <property name="defaultSchema" value="public"/>
        <property name="liquibaseSchema" value="public"/>
        <property name="dropFirst" value="false"/>
        <property name="shouldRun" value="true"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" depends-on="liquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.xkodxdf.weather.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:component-scan base-package="com.xkodxdf.weather.service, com.xkodxdf.weather.repository"/>
</beans>